<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/view.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script>
        function dataDownload() {
            alert('회차 개수에 따라 시간이 오래걸릴 수 있습니다.\n확인을 누르시면 다운로드가 시작됩니다');
            window.location.href='/download/all/<%= data[0].title %>';
        }
        function unfollowing() {
            $.ajax({
                type: 'POST',
                url: '/api/unfollow',
                data: {
                    name: '<%= data[0].title %>'
                }
            }).done(() => window.location.reload());
        }
        function following() {
            if ('<%= follow %>' != '') return unfollowing();
            $.ajax({
                type: 'POST',
                url: '/api/follow',
                data: {
                    name: '<%= data[0].title %>'   
                }
            }).done(() => {
                window.location.reload();
            })
        }
    </script>
    <title><%= data[0].title %> | 목록</title>
</head>
<body>
    <header>
        <span class="title">NOADS</span>
        <div style="height: 100%">
            <button onclick="dataDownload()">모든 데이터 다운</button>
            <button onclick="window.location.href='/'">홈으로</button>
        </div>
    </header>
    <div class="container">
        <div onclick="following()" class="follow <%= follow ? 'ch' : '' %>">
            <span class="fa fa-star <%= follow ? 'checked' : '' %>"></span>&nbsp;<%= follow ? '팔로잉' : '팔로우' %>
        </div>
        <ul>
            <% for (let i = 0; i < data.length; i++) { %>
                <% if (db.find(x => `${x.title}&${x.epi}` === `${data[i].title}&${data[i].epi}`)) { %>
                    <li class="db" onclick="window.location.href='/<%= data[i].title %>/<%= data[i].epi %>'">
                        <span id="name"><%= data[i].vTitle %></span>
                        <span id="epi"><%= data[i].epi %>화</span>
                    </li>
                <% } else { %>
                    <li onclick="window.location.href='/<%= data[i].title %>/<%= data[i].epi %>'">
                        <span id="name"><%= data[i].vTitle %></span>
                        <span id="epi"><%= data[i].epi %>화</span>
                    </li>
                <% } %>
            <% } %>
        </ul>
        <br>
    </div>
</body>
</html>